.background.image {
    display: inline-block;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  
    
 }

 h1 {
     font-family: Brush Script MT, Brush Script Std, cursive;
     font-style: italic;
     font-weight: 900;
     font-size: 500px;
     color:aliceblue;

 }

 div {
     display: flexbox;
     background-color: white;
     display: flex;
     width: fit-content;
     padding: 100px;
     height: 3000px;
     flex-direction: col;
     justify-content: flex-end;
     align-items: stretch;
     align-content: stretch;
     font-size: 50px;
 }